.idle {
  opacity: 0;
  transform: translateY(100px);
}
.animate {
  opacity: 1;
}

.footer-input {
  padding: 0 !important;
}

.hero-slider .swiper-pagination {
  position: static;
  text-align: left;
  margin-top: 2.5rem;
}

.hero-slider__pagination {
  background-color: transparent;
  font-size: 1.5rem;
  margin-right: 1rem !important;
}
