.idle {
  opacity: 0;
  transform: translateY(100px);
}
.animate {
  opacity: 1;
}

.footer-input {
  padding: 0 !important;
}

.hero-slider .swiper-pagination {
  position: static;
  margin-top: 2.5rem;
  text-align: left;
}

.hero-slider__pagination {
  background-color: transparent;
  font-size: 1.4rem;
  margin-right: 1rem !important;
}

.hero-slider .swiper-pagination-bullet-active {
  color: #ff695f;
  text-decoration: underline;
}

.service-slider .swiper-pagination {
  position: static;
  margin-top: 3rem;
}

.service-slider .swiper-pagination-bullet {
  background-color: #ff695f;
}

.service-slider .swiper-pagination-bullet-active {
  transform: scale(1.3);
}
